extends ../layout.jade
block contenido
	h1 Usuario con Sesión Iniciada
	h2 Hola #{usuario.usuario}
	h1 Datos del Usuario
	p #{usuario.nombre}
	p #{usuario.apellido} 
	p #{usuario.dni}
	p #{usuario.fecha_naci}
	p #{usuario.direccion} 
	p #{usuario.cel}
	p #{usuario.email}